cluster.name: es-cluster
node.name: wait_for_change_es_node_name
node.master: true
node.data: true
node.ingest: true
path.data: wait_for_change_esdir/data
path.logs: wait_for_change_esdir/logs
bootstrap.memory_lock: true
network.host: 0.0.0.0
http.port: 9200
discovery.seed_hosts: ["wait_for_change_es_ip"]
cluster.initial_master_nodes: ["wait_for_change_es_master_nodes"]
xpack.security.enabled: true
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate
xpack.security.transport.ssl.client_authentication: required
xpack.security.transport.ssl.keystore.path: elastic-certificates.p12
xpack.security.transport.ssl.truststore.path: elastic-certificates.p12
xpack.security.audit.enabled: true
